<html>
    <head id="head">
        <title>{{ title }}</title>
    </head>
    <body>
        <div id="app">
            <h2>Task list</h2>
            <table>
                <tr v-for="(task, index) in tasks">
                    <td>
                        <p v-if="!task.editable">{{ task.text }}</p>
                        <input v-if="task.editable"
                               v-model="task.text"
                               v-on:keyup.enter="editTask(index, task.text)">
                    </td>
                    <td>
                        <button v-on:click="makeTaskEditable(index)">
                            edit
                        </button>
                    </td>
                    <td>
                        <button v-on:click="deleteTask(index)">delete</button>
                    </td>
                </tr>
            </table>
            <h2>Add new task</h2>
            <input v-on:keyup.enter="addTask" v-model="newTaskName">
        </div>
    </body>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="./app.js"></script>
</html>
